<html>
    <% include partials/head %>
    <body>
        <div class='container'>
            <h1>
                <%=title %>
            </h1>
            <% include partials/nav %>
            <div class='row'>
                <div class='col'>
                    <p>Economy</p>
                </div>
            </div>
        </div>
        <% include partials/scripts %>
    </body>
</html>
