html
    head
        title Adams App
    body(class=["container"])
        h1(class=["jumbotron"]) My H1
        p
            h3 Adams H3 Header
        ul
            each val in list 
                li=val