<html>
<% include partials/head %>
    <body>
        <div class='container'>
            <h1>
                <%=title %>
            </h1>
            <% include partials/nav %>
            <div class='row'>
                <div class='col'>
                    <p>You are the Pharoah of Egpyt, millenia have passed since your forefathers built the Pyramids. Egypt is in ruins. It needs a strong leader to restore it to its past glory. The foundation of all great empires is a strong Economy, a powerful Military, Technological Innovation. You will need wisdom, intelligence, compassion, and ambition to have any hope of succeeding in this monolithic task. Look! Here comes your <a href='/economy'>Minister of Economics</a>!</p>
                </div>
            </div>
        </div>
        <% include partials/scripts %>
    </body>
</html>
